.imagen {
  object-fit: cover;
  width: 100%;
  height: auto;
}

h3 {
  color: #0d6efd; /* azul bootstrap */
}

p {
  font-size: 1rem;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .flex-column-reverse {
    flex-direction: column !important;
  }
}
