.inicio-wrapper {
  position: relative;
  height: 80vh; /* Ajusta la altura total de la sección */
}

/* Ancho del scroll */
::-webkit-scrollbar {
  width: 6px;
}

/* Fondo del scroll */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Barra que se mueve */
::-webkit-scrollbar-thumb {
  background: #438edf; /* azul bootstrap */
  border-radius: 6px;
}

/* Hover */
::-webkit-scrollbar-thumb:hover {
  background: #0056b3;
}


.inicio-hero {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10; /* Asegura que el contenido esté encima del carrusel */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.inicio-hero h1,
.inicio-hero p {
  text-shadow: 1px 1px 10px rgba(0,0,0,0.7); /* Mejora visibilidad sobre cualquier fondo */
}
body {
  overflow-x: hidden;
}